@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Syne-ExtraBold.ttf);
}

$font-1: "font-1", sans-serif;


$newsColor: #FB5607;
$artistsColor: #FFBE0B;
$projectColor: #65B8C4;
$loginColor: #9D63C6;
$color1: #61dafb;

:export {
  color1: $color1;
  newsColor: $newsColor;
  artistsColor: $artistsColor;
  projectColor: $projectColor;
  loginColor: $loginColor;
}

$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}

li {
  list-style-type: none;
}